<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/ogw/ADea4I7pr8XLePoPOuTMU6j5b3_nNWxuN_5oP5xcvqKP1Q=s32-c-mo" />
      </ion-avatar>
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>
        <h2>My status</h2>
        <p>Tap to add status update</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header> Recent Updates </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-finn.png" />
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <p>21 minutes ago</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header> Viewed Update </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-han.png" />
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <p>Today, 6:08pm</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-rey.png" />
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <p>Today, 5:21pm</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-luke.png" />
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <p>Today, 5:08pm</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-poe.png" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>Today, 4:38pm</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-ben.png" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>Today, 2:38pm</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-leia.png" />
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <p>Today, 2:08pm</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/main/static/demos/api/list/avatar-yoda.png" />
      </ion-avatar>
      <ion-label>
        <h2>Yoda</h2>
        <p>Today, 12:08pm</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
